
html { overflow-x: hidden; }

body {
    margin: 0;
    padding: 0;
    font-family: $font;
    font-size: 19px;
    line-height: 2em;
    overflow-x: hidden;
}

p, span { color: $P-color  }

hr { 
    margin-top: 10px;
    margin-bottom: 10px;
    border-top-color: #CCC; 
}