.toggler{
    display: none;
}

.aside {
    background-color: $bg-color;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 400px;
    overflow-y: visible;     
}

.wrapper{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%; 
    /* for IE, Edge and Firefox */
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    }
    /* for Chrome, Safari and Opera */
.wrapper::-webkit-scrollbar {
    display: none;
}
    .header{
    margin-top: 50px;
    margin-bottom: 115px;
}
.header{
    h1{
        text-align: center;
        font-weight: normal;
        font-size: 2.1rem;
    }
}

.toggler{
    display: none;
}

.logo{
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    background-color: white;    
    display: flex;
    align-items: center;
    justify-content: center;
    
      i{
        color: $bg-color;
         font-size: 40px;
    }
}

.nav{
    margin-bottom: 100px;
    margin-left: -30px;
    li{
        list-style: none;
        margin-bottom: 30px;
    }
}
.nav{
    ul{
        padding-left: 70px;
        position: relative;
    }
}
.nav-items{
    margin: 10px;
    line-height: 400%;
}

.nav-items:hover .nav-links {
    color: #0CC;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
    width: 70%;
}

.nav-items:hover:after{
    content: '';
    width: 100%;
    max-width: 300px;    
    height: 75px;
    display: block;
    border: 1px solid white;
    margin-left: 10px;
    margin-top: -65px;
    position: absolute;
    z-index: -1000;
}
.nav-links{
    color: white;
    background-color: transparent;
    height: 30px;
    width: 100%;
    max-width: 300px;    
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 30px;
    transition: all 0.3s ease;
    i{
        margin-right: 20px;
          padding-right: 20px;
    }
}

.social{
    margin-bottom: 65px;
    padding-left: 75px;
}
.social-link{
    display: inline-block;
    background-color: white; 
    color: $bg-color;   
    font-size: 1.4rem;
    width: 50px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    padding-top: 8px; 
    margin-right: 15px;   
    margin-bottom: 15px;
}
.social-icons{
    color: #0CC;
    transition: all 0.3s ease;
}
.social-link:hover {
    i{
        color: $Links;
        cursor: pointer;
    }
}

.text{
    padding-left: 70px;
    margin-bottom: 80px;
    color: white;
}