$font:'Source Sans Pro', sans-serif;
$P-color:#999;
$bg-color:#0CC;
$Links:#3b5998;

body {
    margin: 0;
    padding: 0;
    font-family: $font;
    font-size: 19px;
    line-height: 2em;
    overflow-x: hidden;
}

p, span { color: $P-color  }

hr { 
    margin-top: 10px;
    margin-bottom: 10px;
    border-top-color: #CCC; 
}
.hr-post{
    border-top: 5px solid $bg-color;
}
.toggler{
    display: none;
}
.aside {
    background-color: $bg-color;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 400px;
}

.wrapper{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%; 
    /* for IE, Edge and Firefox */
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    }
    /* for Chrome, Safari and Opera */
.wrapper::-webkit-scrollbar {
    display: none;
}
    .header{
    margin-top: 50px;
    margin-bottom: 115px;
}
.header{
    h1{
        text-align: center;
        font-weight: normal;
        font-size: 2.1rem;
    }
}

.toggler{
    display: none;
}
.logo{
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    background-color: white;    
    display: flex;
    align-items: center;
    justify-content: center;
    
      i{
        color: $bg-color;
         font-size: 40px;
    }
}

.nav{
    margin-bottom: 100px;
    margin-left: -30px;
    li{
        list-style: none;
        margin-bottom: 30px;
    }
}
.nav{
    ul{
        padding-left: 70px;
    }
    i{
        padding-right: 20px;
    }
}
.nav-items{
    margin: 10px;
    line-height: 400%;
}

.nav-items:hover .nav-links {
    color: #0CC;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
    width: 70%;
}

.nav-items:hover:after{
    content: '';
    width: 100%;
    max-width: 300px;    
    height: 75px;
    display: block;
    border: 1px solid white;
    margin-left: 10px;
    margin-top: -65px;
    position: absolute;
    z-index: -1000;
}
.nav-links{
    color: white;
    background-color: transparent;
    height: 30px;
    width: 100%;
    max-width: 300px;    
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 30px;
    i{
        margin-right: 20px;
    }
}

.social{
    margin-bottom: 65px;
    padding-left: 75px;
}
.social-link{
    display: inline-block;
    background-color: white; 
    color: $bg-color;   
    font-size: 1.4rem;
    width: 50px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    padding-top: 8px; 
    margin-right: 15px;   
    margin-bottom: 15px;
}
.social-link:hover {
    i{
        color: $Links;
        cursor: pointer;
    }
}

.text{
    padding-left: 70px;
    margin-bottom: 80px;
    color: white;
}
.container{
    margin-left: 400px;
    padding: 80px 100px 25px;
}
.form{
    display: flex;
	justify-content: flex-end;
    padding-bottom: 8%;
}
.form .search-input{
    display: inline;
    height: 60px;
    width: 480px;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    border-color: $bg-color;
    font-size: 1.2rem;
    display: flex;
	justify-content: flex-end;
}

.search-input{
    height: 45px;
    border-color: $bg-color;
    border-radius: 3px;
}
.search-button{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 3px;
    background-color: $bg-color;
    transition: all 0.3s ease;
    i{
color: white;
font-size: 1.3rem;
    }
}
.search-button:hover{
    background: #09b6b6;
    cursor: pointer;
}


.article{
    max-width: 470px;
    margin-bottom: 75px;
}
.post{
    display: block;
    position: relative;
	cursor: pointer;
    text-decoration: none;
    img{
        position: relative;
        display: block;
        min-height: 100%;
        max-width: 100%;
        opacity: 0.8;
    }
}
.post-title{
    color:#0e9b9b ;
}
.post:hover {
    .post-title{

        color: $bg-color;
    }
    img{
        opacity: 1;
    }
}
.articles-container{
    max-width: 980px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.badge{
    position: absolute;
    top: 25px;
    right: -10px;
    background-color: #0CC;
    color: white;
    padding: 5px 20px;
}

.info-container{
    justify-content: space-between;
}
.info{
    color: $bg-color;
}
.comment{
    justify-content: space-between;
}
.site-link{
    color:#0e9b9b  ;
}
.site-link:hover{
    color: $bg-color;
}

.prev-next-wrapper, .paging-wrapper{
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}
.btn{
    display: inline-block;
    border-radius: 5px;
    font-size: 1.3rem;
    transition: all 0.3s ease;
}
.btn-first{
        background-color: #0CC;
        color: white;  
        padding: 8px 43px;
        border: none;
    
}
.btn-first:hover{
    background-color: #09b6b6;
    color: white;
}
.btn.disabled{
    background-color: #F0F0F0;
    color: #999;
    cursor: not-allowed;
}

.paging-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.page{
    display: inline-block;
}

.paging-nav{
    ul{
        li{
            list-style: none;
            display: inline-block;
            margin-right: 10px;
        }
    }
}
.paging-nav{
    ul{
        li:last-child{
            margin-right: 0;
        }
    }
}

  .paging-link:hover , .paging-link.active{
    background-color:$bg-color;
    color: white;
}

.paging-link{
    background-color: #F0F0F0;
    color: #999;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

footer{
    color: #999;
    max-width: 980px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 30px;
}

.Design-info{
    a{
        color: $bg-color;
    }
    a:hover{
        color: #099;
    }
}

.last-section{
    justify-content: space-between;
    display: flex;
}
.copyright{
    text-align: right;
}




